@import url("./universal.css");

#emailpreview > *{
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : initial;
    border-bottom : 0;
    border-bottom-color : initial;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : initial;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : initial;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : initial;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : initial;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : initial;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : initial;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : initial;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    all: initial;
    all: unset;
}

#emailpreview{
    background: var(--color-bgblend);
    width: 100%; 
    height: fit-content;
    min-height: calc(100% - 110px); 
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

#main{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 100%;
    overflow: hidden;
    padding: 0;
}

#boxes{
    background-color: var(--color-fg);
}

#boxes p{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

hr{
    margin-top: 0px;
    margin-bottom: 2px;
}

.mailentry > *{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}


#boxselector{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    height: calc(100% - 20px);
    width: 100%;
    color: white;
}

#useremail{
    font-size: 1.2vw;
    color:white;
}

#boxselector button{
    width: 90%;
    height: 35px;
    margin: 2px;
    border-radius: 6px;   
    background-color: rgba(0,0,0,0);
    color: var(--color);  
    text-align: left; 
    padding-left: 40px;
    color: white;
    cursor: pointer;
    transition: background-color .1s;
}

#boxselector button::before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px; 
    background-image: url('../icons/inbox-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: -30px;
}

#boxselector button:hover, #boxselector button.active{
   background: var(--color-blend-opaque);
}

button#drafts::before{
    background-image: url('../icons/drafts-icon.png');
}

button#sent::before{
    background-image: url('../icons/sent-icon.png');
}

button#spam::before{
    background-image: url('../icons/spam-icon.png');
}

button#trash::before{
    background-image: url('../icons/trash-icon.png');
}

#mail{
    overflow: auto;
    scroll-snap-type: y proximity;
}
#mail .mailentry{
    padding: 10px; 
    height: 72px;
    border-bottom: 1px solid var(--color-blend);
    transition: background-color .2s;
    cursor: pointer;
    scroll-snap-align: start;
}

#mail :is(.mailentry:hover, .mailentry.active){
    border-left: 3px solid var(--color);
    background: var(--color-blend-opaque);
}

#mail .mailentry span{
    float: right;
}

#preview{
    box-shadow: 0 8px 20px -2px var(--coloropp);
    padding: 30px;
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
}

#preview{
    user-select: initial!important;
}

#preview .span{
    display: block;
    margin-bottom: 15px;
    color: var(--color-blend)
}

#preview p {
    font-weight: 500;
    margin-top: 10px;   
}

p span{
    font-weight: normal;
    color: var(--color-blend)
}

div#addtotop{
    width: 50%;
    height: 80%;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: auto;
    -webkit-app-region: no-drag;
    display: none;
}

input#emlsearch{
    display: block;
    width: 100%;   
    background-color: var(--color-bg);
    outline: none; 
    height:100%;
    color: var(--color);
    border-radius: 10px;
    padding-left: 30px;
    -webkit-app-region: no-drag;
}

div#addtotop::before{
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px; 
    background-image: url('../icons/search-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 7px;
    margin-top: 5px;
}

div#rightbuttons{
    float: right;
    margin-top: 20px;
}

div#rightbuttons button{
    width: 40px;
    height: 40px;
    background-color: var(--color-bgblend);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
    cursor: pointer;
}

div#rightbuttons button::after{
    background: url('../icons/drafts-icon.png'); 
    content: '';
    width: 40%;
    height: 40%;    
    background-size: cover;
    background-repeat: no-repeat; 
}

div#rightbuttons button:is(:hover, .active, :active){
    background-color: var(--color-blend-opaque);
}