@import url(
    './universal.css'
);

hr{
    width: 200%;
    position: relative;
    margin-right: -20px;
    background: var(--color-bgblend);
}

#main{
    position:relative;
}

div.category{
    background: var(--color-bgblend);
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}

div.category:last-of-type{
    padding-top: 30px;
    padding-bottom: 0.1px;
}

p.header{
    color: var(--color-blend);
    margin: 5px;
    margin-top: 40px;
    position: absolute;
}

p.header:first-of-type{
    margin-top: -30px;
}

#theme{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.themebutton{
    width: 145px;
    height: 80px; 
    background: url('../icons/system-theme.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
    transition: outline .1s;
}

.themebutton::after{
    content: 'System';
    margin-left: -20px;
    position: absolute;
    color: var(--color);
    margin-top: 55px;
}

.themebutton.active.active{
    outline: solid 2px var(--color);
}

.themebutton:hover{
    outline: solid 2px var(--color-blend);
}

#dark{
    background-image: url("../icons/dark-theme.png");
}

#dark::after{
    content: "Dark";
    margin-left: -10px;
}

#light{
    background-image: url("../icons/light-theme.png");
}

#light::after{
    content: "Light";
    margin-left: -10px;
}

#vegetta{
    background-image: url("../icons/purple-theme.png");
}

#vegetta::after{
    content: "Vegetta";
    margin-left: -20px;
}

input{
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--color-blend);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    color: white;
    transition: all .2s;
    margin-bottom: 20px;
    display: block;
    margin:auto;
    outline: none;
    transition: border .2s;
}

input:hover, input:focus, input:active{
    border: 1px solid var(--color);
}

input ~p{
    margin-top:-60px;
    margin-left: 10px;
    
}

#change{
  background: var(--color); 
  position: relative;
  width: calc(100% - 20px);
  padding: 10px; 
  border-radius: 10px;   
  color: var(--coloropp);
  display: block; 
  font-weight: 500;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity .2s;
}

#change:hover{
    opacity: .7;
}

#changenick{
    position: absolute;
    background: var(--color); 
    width: calc(30% - 20px);
    padding: 6px; 
    border-radius: 5px;   
    color: var(--coloropp);
    display: block; 
    font-weight: 500;
    margin: auto;
    margin-top: -32px;
    right: 14px;
    cursor: pointer;
    transition: opacity .2s;
}

#changenick:hover{
    opacity: .7;
}