@import url(
    './universal.css'
);

hr{
    width: 200%;
    position: relative;
    margin-right: -20px;
    background: var(--color-bgblend);
}

#main{
    position:relative;
}

div.category{
    background: var(--color-bgblend);
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}

p.header{
    color: var(--color-blend);
    margin: 5px;
    margin-top: 40px;
    position: absolute;
}

p.header:first-of-type{
    margin-top: -30px;
}

#theme{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.themebutton{
    width: 185px;
    height: 100px; 
    background: url('../icons/system-theme.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin: 15px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
    transition: outline .1s;
}

.themebutton::after{
    content: 'System';
    margin-left: -20px;
    position: absolute;
    color: var(--color);
    margin-top: 55px;
}

.themebutton.active.active{
    outline: solid 2px var(--color);
}

.themebutton:hover{
    outline: solid 2px var(--color-blend);
}

#dark{
    background-image: url("../icons/dark-theme.png");
}

#dark::after{
    content: "Dark";
    margin-left: -10px;
}

#light{
    background-image: url("../icons/light-theme.png");
}

#light::after{
    content: "Light";
    margin-left: -10px;
}

#vegetta{
    background-image: url("../icons/purple-theme.png");
}

#vegetta::after{
    content: "Vegetta";
    margin-left: -20px;
}