@import url("./universal.css");

/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

aside{
  float: right;
  height: 100%;
  width: 30%;
  background: black;
}

div.app{
  height: 200px;
  width: 150px; 
  overflow: hidden;
  padding: 10px;   
  border: 1px solid var(--color-blend);
  border-radius: 10px; 
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}

div.app:hover, div.app:focus, div.app:active{
  background: var(--color-blend-opaque);

}

div.app img{
  width: 50%;  
  margin: auto; 
  display:block; 
  margin-bottom: 10px;
}

div.app p{
  color: var(--color-blend);
}


/* Styling of window frame and titlebar */
