:root{
  --color: white; 
  --coloropp: black;
  --color-fg: #212121;
  --color-bg: #2F2F2F;
  --color-bgblend: rgb(75, 75, 75);
  --color-blend: rgba(255,255,255,0.4);
  --color-blend-opaque: rgba(255,255,255,0.1);
}

* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee160;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee160;
    opacity: 0.5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee160;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #d6dee18e; 
}

::selection {
  background: rgba(0, 0, 0, 0.795);
  color: #fff;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: var(--color);
    border: 1px solid #00000000;
    background-color:var(--color-bg);
    overflow-y: hidden;
    user-select: none;
}
  
  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px);
}
  
  .maximized #titlebar {
    width: 100%;
    padding: 0;
}

body#native #titlebar{
  background-color: #212121;
}

body.noback #back-button{
display: none;
}

body.nomin #min-button{
  display: none;
}

body.nomax #max-button{
  display: none;
}
  
  #main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
  }
  
  #titlebar {
    padding: 4px;
  }
  
  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
  
  #titlebar {
    color: #FFF;
  }
  
  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }
  
  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
  }

  #window-title img{
    display: inline;
    height: 70%;
    margin-right: 10px;
  }
  
  .maximized #window-title {
    margin-left: 12px;
  }
  
  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }
  
  #window-controls {
    display: grid;
    grid-template-columns: repeat(4, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  #window-controls {
    -webkit-app-region: no-drag;
  }
  
  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  @media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
    #window-controls .icon {
      width: 10px;
      height: 10px;
    }
  }
  
  #window-controls .button {
    user-select: none;
  }
  
  #window-controls .button:hover {
    background: rgba(255,255,255,0.1);
  }
  
  #window-controls .button:active {
    background: rgba(255,255,255,0.2);
  }
  
  #close-button:hover {
    background: #E81123 !important;
  }
  
  #close-button:active {
    background: #F1707A !important;
  }
  #close-button:active .icon {
    filter: invert(1);
  }

  #back-button{
    grid-column: 1;
  }

 
  #min-button {
    grid-column: 2;
  }
  #max-button, #restore-button {
    grid-column: 3;
  }
  #close-button {
    grid-column: 4;
  }
  
  #restore-button {
    display: none !important;
  }
  
  .maximized #restore-button {
    display: flex !important;
  }
  
  .maximized #max-button {
    display: none;
  }

  .onlyback #close-button{
    display:none;
  }

  .onlyback #back-button{
    grid-column: 4;
  }

  .onlyback #back-button:hover {
    background: #E81123 !important;
  }
  
  .onlyback #back-button:active {
    background: #F1707A !important;
  }
  .onlyback #back-button:active .icon {
    filter: invert(1);
  }

  .loader.small {
    width:50px;
    height:24px;
    background: 
      radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 10px;
    background-repeat: no-repeat;
    animation:d3 1s infinite linear;
  }

  .loader {
    width:50px;
    height:24px;
    background: 
      radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 50%;
    background-repeat: no-repeat;
    animation:d2 1s infinite linear;
  }
  @keyframes d2 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

  @keyframes d3 {
    0%{background-position:0%   50%, 30%  50%,60%  50%}
    20%{background-position:0%   0%, 30%  50%,60%  50%}
    40%{background-position:0% 100%, 30%   0%,60%  50%}
    60%{background-position:0%  50%, 30% 100%,60%   0%}
    80%{background-position:0%  50%, 30%  50%,60% 100%}
    100%{background-position:0%   50%, 30% 50%,60%  50%}
}

  hr{
    width: 100%;
    background: var(--color-blend);
    height: 1px;
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  hr ~ p {
    width: calc(fit-content - 5px);
    float: left;
    height: 2px;
    margin-top: -50px;
    margin-bottom: 30px;
    color: var(--color-blend);
    font-weight: thin;
  }

